body

{

background-color: yellowgreen;




}

h1 {

    background: red; width: auto;
    font-size: 50px;
    font-style:oblique


}

p

{
    font-size: larger;
    color:chartreuse
    
}



